openapi: 3.0.3
info:
  title: Cliniko API
  description: >
    This is the official API for Cliniko. Cliniko is a practice management
    system for healthcare practitioners.


    The Cliniko API is based on REST principles. This means you can use any HTTP
    client and any programming language to interact with the API.


    JSON will be returned in all responses from the API.
  version: v1
servers:
  - url: https://api.au1.cliniko.com/v1
    description: Production
externalDocs:
  description: Clinko API Developers Group
  url: https://groups.google.com/a/redguava.com.au/d/forum/cliniko-api
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
  responses:
    ValidationError:
      description: Resource could not be saved due to validation errors
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                example: Validation Failed
              errors:
                type: object
                additionalProperties:
                  type: string
                  x-additionalPropertiesName: error field
                example:
                  api_field: error message
  parameters:
    Page:
      in: query
      name: page
      schema:
        type: integer
    PerPage:
      in: query
      name: per_page
      schema:
        type: integer
        minimum: 1
        maximum: 100
    Sort:
      in: query
      name: sort
      explode: false
      description: 'Comma separated search fields. See: [Ordering](/#ordering)'
      schema:
        type: array
        items:
          type: string
          example: created_at:desc
    Order:
      in: query
      name: order
      deprecated: true
      schema:
        type: string
        enum:
          - asc
          - desc
  schemas:
    AppointmentType:
      type: object
      properties:
        add_deposit_to_account_credit:
          type: boolean
          nullable: true
        appointment_confirmation_template_ids:
          type: array
          items:
            type: string
            format: int64
            example: '1'
          nullable: true
        appointment_follow_up_template_ids:
          type: array
          items:
            type: string
            format: int64
            example: '1'
          nullable: true
        appointment_reminder_template_ids:
          type: array
          items:
            type: string
            format: int64
            example: '1'
          nullable: true
        appointment_type_billable_items:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: >-
                    https://api.au1.cliniko.com/v1/appointment_type_billable_items?q%5B%5D=appointment_type_id%3A%3D1
        appointment_type_products:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: >-
                    https://api.au1.cliniko.com/v1/appointment_type_products?q%5B%5D=appointment_type_id%3A%3D1
        archived_at:
          type: string
          format: date-time
          nullable: true
        billable_item:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: https://api.au1.cliniko.com/v1/billable_items/1
          deprecated: true
        category:
          type: string
          nullable: true
        color:
          type: string
          pattern: ^#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{3})$
        created_at:
          type: string
          format: date-time
          nullable: false
        deposit_price:
          type: string
          format: decimal
          minimum: 0
          maximum: 4000000000
          exclusiveMaximum: true
          nullable: true
        description:
          type: string
          nullable: true
        duration_in_minutes:
          type: integer
          minimum: 0
          maximum: 1440
          exclusiveMinimum: true
          exclusiveMaximum: true
        id:
          type: string
          format: int64
          nullable: false
        links:
          type: object
          properties:
            self:
              type: string
              format: uri
              example: https://api.au1.cliniko.com/v1/appointment_types/1
        max_attendees:
          type: integer
          minimum: 0
          maximum: 100
          exclusiveMinimum: true
          exclusiveMaximum: true
        name:
          type: string
          maxLength: 255
        online_bookings_lead_time_hours:
          type: integer
          enum:
            - 0
            - 1
            - 2
            - 4
            - 12
            - 18
            - 24
            - 48
            - 72
            - 168
            - 336
            - 504
            - 672
          nullable: true
        online_payments_enabled:
          type: boolean
          nullable: true
        online_payments_mode:
          type: string
          enum:
            - deposit_required
            - optional
            - required
          nullable: true
        practitioners:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: >-
                    https://api.au1.cliniko.com/v1/appointment_types/1/practitioners
        product:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: https://api.au1.cliniko.com/v1/products/1
          deprecated: true
        show_in_online_bookings:
          type: boolean
          nullable: true
        telehealth_enabled:
          type: boolean
          nullable: true
        treatment_note_template:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: https://api.au1.cliniko.com/v1/treatment_note_templates/1
        updated_at:
          type: string
          format: date-time
          nullable: false
      x-tags:
        - Appointment Type
    AppointmentTypeBillableItem:
      type: object
      properties:
        appointment_type:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: https://api.au1.cliniko.com/v1/appointment_types/1
        billable_item:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: https://api.au1.cliniko.com/v1/billable_items/1
        created_at:
          type: string
          format: date-time
          nullable: false
        discount_percentage:
          type: string
          format: decimal
          minimum: 0
          maximum: 100
          nullable: true
        discounted_amount:
          type: string
          format: decimal
          nullable: true
        id:
          type: string
          format: int64
          nullable: false
        is_monetary_discount:
          type: boolean
          nullable: true
        links:
          type: object
          properties:
            self:
              type: string
              format: uri
              example: https://api.au1.cliniko.com/v1/appointment_type_billable_items/1
        quantity:
          type: string
          format: decimal
          minimum: -4000000000
          maximum: 4000000000
          exclusiveMaximum: true
        updated_at:
          type: string
          format: date-time
          nullable: false
      x-tags:
        - Appointment Type Billable Item
    AppointmentTypeProduct:
      type: object
      properties:
        appointment_type:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: https://api.au1.cliniko.com/v1/appointment_types/1
        created_at:
          type: string
          format: date-time
          nullable: false
        discount_percentage:
          type: string
          format: decimal
          minimum: 0
          maximum: 100
          nullable: true
        discounted_amount:
          type: string
          format: decimal
          nullable: true
        id:
          type: string
          format: int64
          nullable: false
        is_monetary_discount:
          type: boolean
          nullable: true
        links:
          type: object
          properties:
            self:
              type: string
              format: uri
              example: https://api.au1.cliniko.com/v1/appointment_type_products/1
        product:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: https://api.au1.cliniko.com/v1/products/1
        quantity:
          type: string
          format: decimal
          minimum: -4000000000
          maximum: 4000000000
          exclusiveMaximum: true
        updated_at:
          type: string
          format: date-time
          nullable: false
      x-tags:
        - Appointment Type Product
    AttachmentPresignedPost:
      type: object
      properties:
        fields:
          type: object
          nullable: true
          properties:
            acl:
              enum:
                - private
              type: string
            key:
              type: string
            policy:
              type: string
            success_action_status:
              enum:
                - '201'
              format: integer
              type: string
            x-amz-algorithm:
              type: string
            x-amz-credential:
              type: string
            x-amz-signature:
              type: string
        url:
          type: string
          format: uri
          nullable: true
      x-tags:
        - Patient Attachment
    Attendee:
      type: object
      properties:
        archived_at:
          type: string
          format: date-time
          nullable: true
        arrived:
          type: boolean
          nullable: true
        booking:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: https://api.au1.cliniko.com/v1/bookings/1
        booking_ip_address:
          type: string
          format: ipv4
          example: 10.0.0.43
          nullable: true
        cancellation_note:
          type: string
          nullable: true
        cancellation_reason:
          type: integer
          nullable: true
        cancellation_reason_description:
          type: string
          nullable: true
          enum:
            - Feeling Better
            - Condition Worse
            - Sick
            - COVID-19 related
            - Away
            - Other
            - Work
            - ''
        cancellation_url:
          type: string
          format: uri
          nullable: true
        cancelled_at:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time
          nullable: false
        deleted_at:
          type: string
          format: date-time
          nullable: true
        email_reminder_sent:
          type: boolean
          nullable: true
          deprecated: true
          description: Please use the `sent_email_reminders_count` attribute instead.
        id:
          type: string
          format: int64
          nullable: false
        invoice_status:
          type: integer
          nullable: true
          description: |
            | Enum Value | Description |
            |---|---|
            |10|Open|
            |20|Paid|
            |30|Closed|
            |40|Open credit|
          enum:
            - 10
            - 20
            - 30
            - 40
        invoices:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: https://api.au1.cliniko.com/v1/attendees/1/invoices
        links:
          type: object
          properties:
            self:
              type: string
              format: uri
              example: https://api.au1.cliniko.com/v1/attendees/1
        notes:
          type: string
          nullable: true
        online_booking_policy_accepted:
          type: boolean
          nullable: true
        patient:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: https://api.au1.cliniko.com/v1/patients/1
        patient_case:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: https://api.au1.cliniko.com/v1/patient_cases/1
        patient_forms:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: https://api.au1.cliniko.com/v1/attendees/1/patient_forms
        sent_email_follow_ups_count:
          type: integer
          nullable: true
        sent_email_reminders_count:
          type: integer
          nullable: true
        sent_sms_follow_ups_count:
          type: integer
          nullable: true
        sent_sms_reminders_count:
          type: integer
          nullable: true
        sms_reminder_sent:
          type: boolean
          nullable: true
          deprecated: true
          description: Please use the `sent_sms_reminders_count` attribute instead.
        telehealth_url:
          type: string
          format: uri
          nullable: true
        treatment_note_status:
          type: integer
          nullable: true
          description: |
            | Enum Value | Description |
            |---|---|
            |10|Draft|
            |90|Final|
          enum:
            - 10
            - 90
        updated_at:
          type: string
          format: date-time
          nullable: false
      x-tags:
        - Attendee
    AvailabilityBlock:
      type: object
      properties:
        business:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: https://api.au1.cliniko.com/v1/businesses/1
        created_at:
          type: string
          format: date-time
          nullable: false
        ends_at:
          type: string
          format: date-time
        id:
          type: string
          format: int64
          nullable: false
        links:
          type: object
          properties:
            self:
              type: string
              format: uri
              example: https://api.au1.cliniko.com/v1/availability_blocks/1
        practitioner:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: https://api.au1.cliniko.com/v1/practitioners/1
        repeat_rule:
          type: object
          properties:
            number_of_repeats:
              type: integer
              minimum: 0
              maximum: 100
              exclusiveMinimum: true
              nullable: true
            repeat_type:
              type: string
              enum:
                - Daily
                - Monthly
                - Weekly
              nullable: true
            repeating_interval:
              type: integer
              minimum: 0
              maximum: 100
              exclusiveMinimum: true
              nullable: true
          nullable: true
        starts_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
          nullable: false
      x-tags:
        - Availability Block
    BillableItem:
      type: object
      properties:
        archived_at:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time
          nullable: false
        id:
          type: string
          format: int64
          nullable: false
        item_code:
          type: string
          maxLength: 100
          nullable: true
        item_type:
          enum:
            - Product
            - Service
            - Other
          type: string
        links:
          type: object
          properties:
            self:
              type: string
              format: uri
              example: https://api.au1.cliniko.com/v1/billable_items/1
        name:
          type: string
          maxLength: 255
        price:
          type: string
          format: decimal
          minimum: -4000000000
          maximum: 4000000000
          exclusiveMaximum: true
        tax:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: https://api.au1.cliniko.com/v1/taxes/1
        updated_at:
          type: string
          format: date-time
          nullable: false
      x-tags:
        - Billable Item
    Booking:
      anyOf:
        - $ref: '#/components/schemas/GroupAppointment'
        - $ref: '#/components/schemas/IndividualAppointment'
        - $ref: '#/components/schemas/UnavailableBlock'
      x-tags:
        - Booking
    Business:
      type: object
      properties:
        additional_information:
          type: string
          maxLength: 5000
          nullable: true
        additional_invoice_information:
          type: string
          maxLength: 5000
          nullable: true
        address_1:
          type: string
          nullable: true
        address_2:
          type: string
          nullable: true
        appointment_reminders_enabled:
          type: boolean
          nullable: true
        appointment_type_ids:
          type: array
          items:
            type: string
            format: int64
            example: '1'
          nullable: true
        appointments:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: https://api.au1.cliniko.com/v1/businesses/1/appointments
        archived_at:
          type: string
          format: date-time
          nullable: true
        business_name:
          type: string
          nullable: true
        business_registration_name:
          type: string
          nullable: true
        business_registration_value:
          type: string
          nullable: true
        city:
          type: string
          nullable: true
        contact_information:
          type: string
          nullable: true
        country:
          type: string
          nullable: true
        country_code:
          type: string
          description: >-
            [ISO 3166-1](https://en.wikipedia.org/wiki/ISO_3166-1#Current_codes)
            country code
          example: AU
          nullable: true
        created_at:
          type: string
          format: date-time
          nullable: false
        deleted_at:
          type: string
          format: date-time
          nullable: true
        display_name:
          type: string
          nullable: true
        email_reply_to:
          type: string
          nullable: true
        id:
          type: string
          format: int64
          nullable: false
        label:
          type: string
          nullable: true
        links:
          type: object
          properties:
            self:
              type: string
              format: uri
              example: https://api.au1.cliniko.com/v1/businesses/1
        post_code:
          type: string
          nullable: true
        practitioners:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: https://api.au1.cliniko.com/v1/businesses/1/practitioners
        show_in_online_bookings:
          type: boolean
          nullable: true
        state:
          type: string
          nullable: true
        time_zone:
          type: string
          description: >-
            Human-readable label for a time zone. See link below for supported
            values.
          example: Melbourne
          nullable: true
          externalDocs:
            description: Time zone Support through the API
            url: /guides/time_zone_support/
        time_zone_identifier:
          type: string
          description: >-
            IANA identifier for a time zone. See link below for supported
            values.
          example: Australia/Melbourne
          nullable: true
          externalDocs:
            description: Time zone Support through the API
            url: /guides/time_zone_support/
        updated_at:
          type: string
          format: date-time
          nullable: false
        website_address:
          type: string
          nullable: true
      x-tags:
        - Business
    Communication:
      anyOf:
        - $ref: '#/components/schemas/MemoCommunication'
        - $ref: '#/components/schemas/EmailCommunication'
        - $ref: '#/components/schemas/SmsCommunication'
      x-tags:
        - Communication
    ConcessionPrice:
      type: object
      properties:
        billable_item:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: https://api.au1.cliniko.com/v1/billable_items/1
        concession_type:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: https://api.au1.cliniko.com/v1/concession_types/1
        created_at:
          type: string
          format: date-time
          nullable: false
        id:
          type: string
          format: int64
          nullable: false
        links:
          type: object
          properties:
            self:
              type: string
              format: uri
              example: https://api.au1.cliniko.com/v1/concession_prices/1
        price:
          type: string
          format: decimal
          minimum: -4000000000
          maximum: 4000000000
          exclusiveMaximum: true
          nullable: true
        updated_at:
          type: string
          format: date-time
          nullable: false
      x-tags:
        - Concession Price
    ConcessionType:
      type: object
      properties:
        archived_at:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time
          nullable: false
        id:
          type: string
          format: int64
          nullable: false
        links:
          type: object
          properties:
            self:
              type: string
              format: uri
              example: https://api.au1.cliniko.com/v1/concession_types/1
        name:
          type: string
          maxLength: 255
        updated_at:
          type: string
          format: date-time
          nullable: false
      x-tags:
        - Concession Type
    Contact:
      type: object
      properties:
        address_1:
          type: string
          maxLength: 255
          nullable: true
        address_2:
          type: string
          maxLength: 255
          nullable: true
        address_3:
          type: string
          maxLength: 255
          nullable: true
        archived_at:
          type: string
          format: date-time
          nullable: true
        city:
          type: string
          maxLength: 255
          nullable: true
        company_name:
          type: string
          maxLength: 255
          nullable: true
        country:
          type: string
          nullable: true
        country_code:
          type: string
          description: >-
            [ISO 3166-1](https://en.wikipedia.org/wiki/ISO_3166-1#Current_codes)
            country code
          example: AU
          maxLength: 2
          nullable: true
        created_at:
          type: string
          format: date-time
          nullable: false
        deleted_at:
          type: string
          format: date-time
          nullable: true
        doctor_type:
          type: string
          enum:
            - general_practitioner
            - specialist
          nullable: true
        email:
          type: string
          maxLength: 255
          nullable: true
        first_name:
          type: string
          maxLength: 255
          nullable: true
        id:
          type: string
          format: int64
          nullable: false
        last_name:
          type: string
          maxLength: 255
          nullable: true
        links:
          type: object
          properties:
            self:
              type: string
              format: uri
              example: https://api.au1.cliniko.com/v1/contacts/1
        notes:
          type: string
          nullable: true
        occupation:
          type: string
          maxLength: 255
          nullable: true
        phone_numbers:
          type: array
          items:
            $ref: '#/components/schemas/PhoneNumber'
          nullable: true
        post_code:
          type: string
          maxLength: 255
          nullable: true
        preferred_name:
          type: string
          nullable: true
        provider_number:
          type: string
          maxLength: 255
          nullable: true
        state:
          type: string
          maxLength: 255
          nullable: true
        title:
          type: string
          nullable: true
        type:
          type: string
          nullable: true
          enum:
            - Doctor
            - 3rd Party Payer
            - Standard
        type_code:
          type: integer
          enum:
            - 0
            - 1
            - 2
          nullable: true
        updated_at:
          type: string
          format: date-time
          nullable: false
      x-tags:
        - Contact
    DailyAvailability:
      type: object
      properties:
        availabilities:
          type: array
          nullable: true
          items:
            properties:
              ends_at:
                example: '13:00'
                format: time
                type: string
              starts_at:
                example: '09:00'
                format: time
                type: string
            type: object
        business:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: https://api.au1.cliniko.com/v1/businesses/1
        created_at:
          type: string
          format: date-time
          nullable: false
        day_of_week:
          type: integer
          enum:
            - 0
            - 1
            - 2
            - 3
            - 4
            - 5
            - 6
          nullable: true
        id:
          type: string
          format: int64
          nullable: false
        links:
          type: object
          properties:
            self:
              type: string
              format: uri
              example: https://api.au1.cliniko.com/v1/daily_availabilities/1
        practitioner:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: https://api.au1.cliniko.com/v1/practitioners/1
        time_zone:
          type: string
          description: >-
            See: [supported time
            zones](/guides/time_zone_support/#accepted-values-for-time_zone)
          example: Melbourne
          nullable: true
        time_zone_identifier:
          type: string
          description: >-
            See: [supported time zone
            identifiers](/guides/time_zone_support/#accepted-values-for-time_zone_identifier)
          example: Australia/Melbourne
          nullable: true
        updated_at:
          type: string
          format: date-time
          nullable: false
      x-tags:
        - Daily Availability
    EmailCommunication:
      type: object
      properties:
        archived_at:
          type: string
          format: date-time
          nullable: true
        attendee:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: https://api.au1.cliniko.com/v1/attendees/1
        booking:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: https://api.au1.cliniko.com/v1/bookings/1
        category:
          type: string
          nullable: true
          enum:
            - Account Statement
            - Account ownership information updated
            - Appointment Cancellation
            - Appointment Confirmation
            - Appointment Follow Up Message
            - Appointment Reminder
            - Auth Code
            - Bulk Email
            - Cancelled appointment notification
            - Card automatically updated notification
            - Card expiring notification
            - Completed Patient Form
            - Data export complete notification
            - Email OTP code
            - Invoice
            - Letter
            - Mailchimp integration disconnected
            - Memo
            - New user
            - Online payment request
            - Password changed
            - Patient Form
            - Patient Reply Forwarded
            - Patient form renewal
            - Payment Receipt
            - Practitioner Appointment Notification
            - Referred user bonus notification
            - Referred user signed up
            - Referring user bonus notification
            - Reply from Patient
            - Reply from Practitioner
            - Reset password instructions
            - SMS Message
            - SMS credit purchase failed
            - SMS credit purchase receipt
            - SMS credit purchase reminder
            - SMS credit purchase requires confirmation
            - Stripe receipt
            - Subscription initiation alert
            - Subscription payment failure
            - Today's appointments for practitioner
            - Trial ending reminder
            - Trial payment failure
            - Unlock instructions
            - Upcoming appointments
            - Upcoming yearly payment alert
            - User email changed
            - User email confirmation instructions
            - Xero OAuth error
            - Xero sync error notification
        category_code:
          type: integer
          nullable: true
          enum:
            - 1
            - 2
            - 3
            - 4
            - 5
            - 6
            - 7
            - 8
            - 9
            - 10
            - 11
            - 12
            - 13
            - 14
            - 15
            - 16
            - 17
            - 18
            - 19
            - 20
            - 21
            - 22
            - 23
            - 24
            - 25
            - 26
            - 27
            - 28
            - 29
            - 30
            - 31
            - 32
            - 33
            - 34
            - 35
            - 36
            - 37
            - 38
            - 39
            - 40
            - 41
            - 42
            - 43
            - 44
            - 45
            - 46
            - 47
            - 48
            - 49
            - 50
          description: |-
            | Enum Value | Description |
            |---|---|
            | 1 | Appointment Reminder |
            | 2 | Patient Reply Forwarded |
            | 3 | Invoice |
            | 4 | Appointment Confirmation |
            | 5 | Letter |
            | 6 | Practitioner Appointment Notification |
            | 7 | SMS Message |
            | 8 | Reply from Patient |
            | 9 | Account Statement |
            | 10 | Cancelled appointment notification |
            | 11 | Auth Code |
            | 12 | Memo |
            | 13 | Reply from Practitioner |
            | 14 | Payment Receipt |
            | 15 | Bulk Email |
            | 16 | Appointment Cancellation |
            | 17 | Patient Form |
            | 18 | Upcoming appointments |
            | 19 | Completed Patient Form |
            | 20 | Online payment request |
            | 21 | New user |
            | 22 | Referred user signed up |
            | 23 | Referring user bonus notification |
            | 24 | Referred user bonus notification |
            | 25 | Password changed |
            | 26 | Data export complete notification |
            | 27 | SMS credit purchase reminder |
            | 28 | SMS credit purchase failed |
            | 29 | SMS credit purchase requires confirmation |
            | 30 | SMS credit purchase receipt |
            | 31 | Xero sync error notification |
            | 32 | Xero OAuth error |
            | 33 | Mailchimp integration disconnected |
            | 34 | Card automatically updated notification |
            | 35 | Card expiring notification |
            | 36 | Upcoming yearly payment alert |
            | 37 | Trial payment failure |
            | 38 | Subscription payment failure |
            | 39 | Trial ending reminder |
            | 40 | Stripe receipt |
            | 41 | Today's appointments for practitioner |
            | 42 | User email confirmation instructions |
            | 43 | User email changed |
            | 44 | Unlock instructions |
            | 45 | Reset password instructions |
            | 46 | Account ownership information updated |
            | 47 | Email OTP code |
            | 48 | Appointment Follow Up Message |
            | 49 | Subscription initiation alert |
            | 50 | Patient form renewal |
        content:
          type: string
          nullable: true
        content_subject:
          type: string
          maxLength: 255
          nullable: true
        created_at:
          type: string
          format: date-time
          nullable: false
        direction_code:
          type: integer
          nullable: true
          enum:
            - 1
            - 2
          description: |-
            | Enum Value | Description |
            |---|---|
            | 1 | Sent |
            | 2 | Received |
        direction_description:
          type: string
          nullable: true
          enum:
            - Received
            - Sent
        from:
          type: string
          nullable: true
        id:
          type: string
          format: int64
          nullable: false
        invoice:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: https://api.au1.cliniko.com/v1/invoices/1
        letter:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: https://api.au1.cliniko.com/v1/letters/1
        links:
          type: object
          properties:
            self:
              type: string
              format: uri
              example: https://api.au1.cliniko.com/v1/communications/1
        patient:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: https://api.au1.cliniko.com/v1/patients/1
        payment:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: https://api.au1.cliniko.com/v1/payments/1
        to:
          type: string
          nullable: true
        type:
          type: string
          nullable: true
          enum:
            - Email
            - Other
            - Phone call
            - SMS
        type_code:
          type: integer
          nullable: true
          enum:
            - 1
            - 2
            - 3
            - 4
          description: |-
            | Enum Value | Description |
            |---|---|
            | 1 | SMS |
            | 2 | Email |
            | 3 | Phone call |
            | 4 | Other |
        updated_at:
          type: string
          format: date-time
          nullable: false
      x-tags:
        - Email Communication
    FullPatientExport:
      type: object
      properties:
        archived_at:
          type: string
          format: date-time
          nullable: true
        content:
          type: object
          nullable: true
          properties:
            links:
              properties:
                self:
                  example: https://api.au1.cliniko.com/v1/patient_attachments/1/content
                  format: uri
                  type: string
              type: object
        content_type:
          type: string
          nullable: true
          description: mime type
          example: text/plain
        created_at:
          type: string
          format: date-time
          nullable: false
        description:
          type: string
          maxLength: 255
          nullable: true
        filename:
          type: string
          nullable: true
        id:
          type: string
          format: int64
          nullable: false
        links:
          type: object
          properties:
            self:
              type: string
              format: uri
              example: https://api.au1.cliniko.com/v1/patient_attachments/1
        patient:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: https://api.au1.cliniko.com/v1/patients/1
        pinned_at:
          type: string
          format: date-time
          nullable: true
        processed_at:
          type: string
          format: date-time
          nullable: true
        processing_completed:
          type: boolean
          nullable: true
        size:
          type: integer
          nullable: true
        updated_at:
          type: string
          format: date-time
          nullable: false
        user:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: https://api.au1.cliniko.com/v1/users/1
      x-tags:
        - Full Patient Export
    FullPatientExportBody:
      type: object
      properties:
        description:
          type: string
          maxLength: 255
          nullable: true
    GroupAppointment:
      type: object
      properties:
        appointment_type:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: https://api.au1.cliniko.com/v1/appointment_types/1
        archived_at:
          type: string
          format: date-time
          nullable: true
        attendees:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: >-
                    https://api.au1.cliniko.com/v1/group_appointments/1/attendees
        business:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: https://api.au1.cliniko.com/v1/businesses/1
        conflicts:
          type: object
          nullable: true
          properties:
            links:
              properties:
                self:
                  example: >-
                    https://api.au1.cliniko.com/v1/group_appointments/1/conflicts
                  format: uri
                  type: string
              type: object
        created_at:
          type: string
          format: date-time
          nullable: false
        deleted_at:
          type: string
          format: date-time
          nullable: true
        ends_at:
          type: string
          format: date-time
        id:
          type: string
          format: int64
          nullable: false
        links:
          type: object
          properties:
            self:
              type: string
              format: uri
              example: https://api.au1.cliniko.com/v1/group_appointments/1
        max_attendees:
          type: integer
          minimum: 1
          maximum: 100
          exclusiveMinimum: true
          exclusiveMaximum: true
        notes:
          type: string
          nullable: true
        patient_ids:
          type: array
          items:
            type: string
            format: int64
            example: '1'
          nullable: true
        practitioner:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: https://api.au1.cliniko.com/v1/practitioners/1
        repeat_rule:
          type: object
          properties:
            number_of_repeats:
              type: integer
              minimum: 0
              maximum: 51
              exclusiveMinimum: true
              nullable: true
            repeat_type:
              type: string
              enum:
                - Daily
                - Monthly
                - Weekly
              nullable: true
            repeating_interval:
              type: integer
              minimum: 0
              maximum: 100
              exclusiveMinimum: true
              nullable: true
          nullable: true
        repeated_from:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: https://api.au1.cliniko.com/v1/group_appointments/1
        repeats:
          type: object
          nullable: true
          properties:
            links:
              properties:
                self:
                  example: >-
                    https://api.au1.cliniko.com/v1/group_appointments?q[]=repeated_from_id:=1
                  format: uri
                  type: string
              type: object
        starts_at:
          type: string
          format: date-time
        telehealth_url:
          type: string
          format: uri
          nullable: true
        updated_at:
          type: string
          format: date-time
          nullable: false
      x-tags:
        - Group Appointment
    IndividualAppointment:
      type: object
      properties:
        appointment_type:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: https://api.au1.cliniko.com/v1/appointment_types/1
        archived_at:
          type: string
          format: date-time
          nullable: true
        attendees:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: >-
                    https://api.au1.cliniko.com/v1/individual_appointments/1/attendees
        booking_ip_address:
          type: string
          format: ipv4
          example: 10.0.0.43
          nullable: true
        business:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: https://api.au1.cliniko.com/v1/businesses/1
        cancellation_note:
          type: string
          nullable: true
        cancellation_reason:
          type: integer
          nullable: true
        cancellation_reason_description:
          type: string
          nullable: true
          enum:
            - Feeling Better
            - Condition Worse
            - Sick
            - COVID-19 related
            - Away
            - Other
            - Work
        cancelled_at:
          type: string
          format: date-time
          nullable: true
        conflicts:
          type: object
          nullable: true
          properties:
            links:
              properties:
                self:
                  example: >-
                    https://api.au1.cliniko.com/v1/individual_appointments/1/conflicts
                  format: uri
                  type: string
              type: object
        created_at:
          type: string
          format: date-time
          nullable: false
        deleted_at:
          type: string
          format: date-time
          nullable: true
        did_not_arrive:
          type: boolean
          nullable: true
        email_reminder_sent:
          type: boolean
          nullable: true
        ends_at:
          type: string
          format: date-time
        has_patient_appointment_notes:
          type: boolean
          nullable: true
        id:
          type: string
          format: int64
          nullable: false
        invoice_status:
          type: integer
          nullable: true
        links:
          type: object
          properties:
            self:
              type: string
              format: uri
              example: https://api.au1.cliniko.com/v1/individual_appointments/1
        notes:
          type: string
          nullable: true
        online_booking_policy_accepted:
          type: boolean
          nullable: true
        patient:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: https://api.au1.cliniko.com/v1/patients/1
        patient_arrived:
          type: boolean
          nullable: true
        patient_case:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: https://api.au1.cliniko.com/v1/patient_cases/1
        patient_name:
          type: string
          nullable: true
        practitioner:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: https://api.au1.cliniko.com/v1/practitioners/1
        repeat_rule:
          type: object
          properties:
            number_of_repeats:
              type: integer
              minimum: 0
              maximum: 51
              exclusiveMinimum: true
              nullable: true
            repeat_type:
              type: string
              enum:
                - Daily
                - Monthly
                - Weekly
              nullable: true
            repeating_interval:
              type: integer
              minimum: 0
              maximum: 100
              exclusiveMinimum: true
              nullable: true
          nullable: true
        repeated_from:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: https://api.au1.cliniko.com/v1/individual_appointments/1
        repeats:
          type: object
          nullable: true
          properties:
            links:
              properties:
                self:
                  example: >-
                    https://api.au1.cliniko.com/v1/individual_appointments?q[]=repeated_from_id:=1
                  format: uri
                  type: string
              type: object
        sms_reminder_sent:
          type: boolean
          nullable: true
        starts_at:
          type: string
          format: date-time
        telehealth_url:
          type: string
          format: uri
          nullable: true
        treatment_note_status:
          type: integer
          nullable: true
        updated_at:
          type: string
          format: date-time
          nullable: false
      x-tags:
        - Individual Appointment
    Invoice:
      type: object
      properties:
        appointment:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: https://api.au1.cliniko.com/v1/appointments/1
        archived_at:
          type: string
          format: date-time
          nullable: true
        attendee:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: https://api.au1.cliniko.com/v1/attendees/1
        business:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: https://api.au1.cliniko.com/v1/businesses/1
        calculation_method:
          type: integer
          nullable: true
          enum:
            - 1
            - 2
            - 3
          description: |-
            | Enum Value | Description |
            |---|---|
            | 1 | Legacy |
            | 2 | Tax exclusive |
            | 3 | Tax inclusive |
        calculation_method_description:
          type: string
          nullable: true
          enum:
            - Legacy
            - Tax exclusive
            - Tax inclusive
        closed_at:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time
          nullable: false
        deleted_at:
          type: string
          format: date-time
          nullable: true
        discounted_amount:
          type: string
          format: decimal
          nullable: true
        id:
          type: string
          format: int64
          nullable: false
        invoice_items:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: https://api.au1.cliniko.com/v1/invoices/1/invoice_items
        invoice_to:
          type: string
          nullable: true
        issue_date:
          type: string
          format: date
        links:
          type: object
          properties:
            self:
              type: string
              format: uri
              example: https://api.au1.cliniko.com/v1/invoices/1
        net_amount:
          type: string
          format: decimal
          nullable: true
        notes:
          type: string
          nullable: true
        number:
          type: integer
        online_payment_url:
          type: string
          format: uri
          nullable: true
        original_invoice:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: https://api.au1.cliniko.com/v1/invoices/1
        patient:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: https://api.au1.cliniko.com/v1/patients/1
        patient_extra_information:
          type: string
          nullable: true
        practitioner:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: https://api.au1.cliniko.com/v1/practitioners/1
        reversed_invoices:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: >-
                    https://api.au1.cliniko.com/v1/invoices?q%5B%5D=invoice_id%3A%3D1
        signature:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: https://api.au1.cliniko.com/v1/signatures/1
        status:
          type: integer
          nullable: true
          enum:
            - 10
            - 20
            - 30
            - 40
          description: |-
            | Enum Value | Description |
            |---|---|
            | 10 | Open |
            | 20 | Paid |
            | 30 | Closed |
            | 40 | Open credit |
        status_description:
          type: string
          nullable: true
          enum:
            - Open
            - Paid
            - Closed
            - Open credit
        tax_amount:
          type: string
          format: decimal
          nullable: true
        total_amount:
          type: string
          format: decimal
          nullable: true
        updated_at:
          type: string
          format: date-time
          nullable: false
      x-tags:
        - Invoice
    InvoiceItem:
      type: object
      properties:
        archived_at:
          type: string
          format: date-time
          nullable: true
        billable_item:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: https://api.au1.cliniko.com/v1/billable_items/1
        code:
          type: string
          maxLength: 100
          nullable: true
        concession_type_name:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
          nullable: false
        deleted_at:
          type: string
          format: date-time
          nullable: true
        discount_percentage:
          type: string
          format: decimal
          minimum: 0
          maximum: 100
          nullable: true
        discounted_amount:
          type: string
          format: decimal
          nullable: true
        id:
          type: string
          format: int64
          nullable: false
        invoice:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: https://api.au1.cliniko.com/v1/invoices/1
        is_monetary_discount:
          type: boolean
          nullable: true
        links:
          type: object
          properties:
            self:
              type: string
              format: uri
              example: https://api.au1.cliniko.com/v1/invoice_items/1
        name:
          type: string
          nullable: true
        net_price:
          type: string
          format: decimal
          nullable: true
        product:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: https://api.au1.cliniko.com/v1/products/1
        quantity:
          type: string
          format: decimal
          minimum: -4000000000
          maximum: 4000000000
          exclusiveMaximum: true
        tax_amount:
          type: string
          format: decimal
          nullable: true
          deprecated: true
        tax_name:
          type: string
          nullable: true
        tax_rate:
          type: string
          format: decimal
          nullable: true
        total_including_tax:
          type: number
          nullable: true
        unit_price:
          type: string
          format: decimal
          minimum: -4000000000
          maximum: 4000000000
          exclusiveMaximum: true
        updated_at:
          type: string
          format: date-time
          nullable: false
      x-tags:
        - Invoice Item
    MedicalAlert:
      type: object
      properties:
        archived_at:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time
          nullable: false
        deleted_at:
          type: string
          format: date-time
          nullable: true
        id:
          type: string
          format: int64
          nullable: false
        links:
          type: object
          properties:
            self:
              type: string
              format: uri
              example: https://api.au1.cliniko.com/v1/medical_alerts/1
        name:
          type: string
          minLength: 1
          maxLength: 255
        patient:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: https://api.au1.cliniko.com/v1/patients/1
        updated_at:
          type: string
          format: date-time
          nullable: false
      x-tags:
        - Medical Alert
    MemoCommunication:
      type: object
      properties:
        archived_at:
          type: string
          format: date-time
          nullable: true
        category:
          type: string
          nullable: true
          enum:
            - Memo
        category_code:
          type: integer
          nullable: true
          enum:
            - 12
          description: |
            | Enum Value | Description |
            |---|---|
            |12|Memo|
        confidential:
          type: boolean
          nullable: true
        content:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
          nullable: false
        direction_code:
          type: integer
          nullable: true
          enum:
            - 1
            - 2
          description: |-
            | Enum Value | Description |
            |---|---|
            | 1 | Sent |
            | 2 | Received |
        direction_description:
          type: string
          nullable: true
          enum:
            - Received
            - Sent
        from:
          type: string
          nullable: true
        id:
          type: string
          format: int64
          nullable: false
        links:
          type: object
          properties:
            self:
              type: string
              format: uri
              example: https://api.au1.cliniko.com/v1/communications/1
        patient:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: https://api.au1.cliniko.com/v1/patients/1
        to:
          type: string
          nullable: true
        type:
          type: string
          nullable: true
          enum:
            - Email
            - Other
            - Phone call
            - SMS
        type_code:
          type: integer
          nullable: true
          enum:
            - 1
            - 2
            - 3
            - 4
          description: |-
            | Enum Value | Description |
            |---|---|
            | 1 | SMS |
            | 2 | Email |
            | 3 | Phone call |
            | 4 | Other |
        updated_at:
          type: string
          format: date-time
          nullable: false
      x-tags:
        - Memo Communication
    MemoCommunicationBody:
      type: object
      properties:
        category_code:
          type: integer
          nullable: true
          enum:
            - 12
          description: |
            | Enum Value | Description |
            |---|---|
            |12|Memo|
        confidential:
          type: boolean
          nullable: true
        content:
          type: string
          nullable: true
        direction_code:
          type: integer
          nullable: true
          enum:
            - 1
            - 2
          description: |-
            | Enum Value | Description |
            |---|---|
            | 1 | Sent |
            | 2 | Received |
        from:
          type: string
          nullable: true
        patient_id:
          type: string
          format: int64
          description: patient id
          example: '1'
        to:
          type: string
          nullable: true
        type_code:
          type: integer
          nullable: true
          enum:
            - 1
            - 2
            - 3
            - 4
          description: |-
            | Enum Value | Description |
            |---|---|
            | 1 | SMS |
            | 2 | Email |
            | 3 | Phone call |
            | 4 | Other |
    Patient:
      type: object
      properties:
        accepted_email_marketing:
          type: boolean
          nullable: true
        accepted_privacy_policy:
          type: boolean
          nullable: true
        accepted_sms_marketing:
          type: boolean
          nullable: true
        address_1:
          type: string
          maxLength: 255
          nullable: true
        address_2:
          type: string
          maxLength: 255
          nullable: true
        address_3:
          type: string
          maxLength: 255
          nullable: true
        appointment_notes:
          type: string
          nullable: true
        appointments:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: https://api.au1.cliniko.com/v1/patients/1/appointments
        archived_at:
          type: string
          format: date-time
          nullable: true
        attendees:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: >-
                    https://api.au1.cliniko.com/v1/attendees?q%5B%5D=patient_id%3A%3D1
        city:
          type: string
          maxLength: 255
          nullable: true
        concession_type:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: https://api.au1.cliniko.com/v1/concession_types/1
        country:
          type: string
          nullable: true
          deprecated: true
        country_code:
          type: string
          description: >-
            [ISO 3166-1](https://en.wikipedia.org/wiki/ISO_3166-1#Current_codes)
            country code
          example: AU
          nullable: true
        created_at:
          type: string
          format: date-time
          nullable: false
        custom_fields:
          type: object
          nullable: true
          properties:
            sections:
              type: array
              nullable: false
              items:
                type: object
                properties:
                  name:
                    type: string
                    nullable: true
                  token:
                    type: string
                    format: uuid
                    example: ef4c43ec-105d-489c-88cc-0f3c5f67dc70
                    nullable: false
                  archived:
                    type: boolean
                    nullable: true
                  fields:
                    type: array
                    nullable: false
                    items:
                      oneOf:
                        - $ref: '#/components/schemas/PatientCustomFieldText'
                        - $ref: '#/components/schemas/PatientCustomFieldParagraph'
                        - $ref: '#/components/schemas/PatientCustomFieldDate'
                        - $ref: '#/components/schemas/PatientCustomFieldCheckboxes'
                        - $ref: '#/components/schemas/PatientCustomFieldRadiobuttons'
                required:
                  - token
                  - fields
        date_of_birth:
          type: string
          format: date
          nullable: true
        deleted_at:
          type: string
          format: date-time
          nullable: true
        dva_card_number:
          type: string
          pattern: >-
            ^[NVQSWT]([A-Z
            ][0-9]{1,6}|[A-Z]{2}[0-9]{1,5}|[A-Z]{3}[0-9]{1,4})[A-Z]?$
          nullable: true
        email:
          type: string
          pattern: ^[A-Z0-9!#$%&'*+/=?^_`{|}~.-]+@[A-Z0-9.-]+\.[A-Z]{2,63}$
          maxLength: 255
          nullable: true
        emergency_contact:
          type: string
          maxLength: 255
          nullable: true
        first_name:
          type: string
          maxLength: 255
        gender:
          type: string
          nullable: true
          deprecated: true
        gender_identity:
          type: string
          nullable: true
        id:
          type: string
          format: int64
          nullable: false
        invoice_default_to:
          type: string
          nullable: true
        invoice_email:
          type: string
          pattern: ^[A-Z0-9!#$%&'*+/=?^_`{|}~.-]+@[A-Z0-9.-]+\.[A-Z]{2,63}$
          nullable: true
        invoice_extra_information:
          type: string
          nullable: true
        invoices:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: https://api.au1.cliniko.com/v1/patients/1/invoices
        label:
          type: string
          nullable: true
          description: Full name
        last_name:
          type: string
          maxLength: 255
        latest_booking:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: https://api.au1.cliniko.com/v1/bookings/1
        links:
          type: object
          properties:
            self:
              type: string
              format: uri
              example: https://api.au1.cliniko.com/v1/patients/1
        medical_alerts:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: https://api.au1.cliniko.com/v1/patients/1/medical_alerts
        medicare:
          type: string
          maxLength: 255
          nullable: true
        medicare_reference_number:
          type: string
          maxLength: 255
          nullable: true
        merged_at:
          type: string
          nullable: true
          format: date-time
        merged_with_patient:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: https://api.au1.cliniko.com/v1/patients/1
        notes:
          type: string
          nullable: true
        occupation:
          type: string
          maxLength: 255
          nullable: true
        old_reference_id:
          type: string
          maxLength: 255
          nullable: true
        patient_attachments:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: >-
                    https://api.au1.cliniko.com/v1/patients/1/patient_attachments
        patient_phone_numbers:
          type: array
          items:
            $ref: '#/components/schemas/PhoneNumber'
          nullable: true
        post_code:
          type: string
          nullable: true
        preferred_first_name:
          type: string
          maxLength: 255
          nullable: true
        pronouns:
          type: object
          nullable: true
          properties:
            accusative:
              type: string
              nullable: false
              maxLength: 50
            nominative:
              type: string
              nullable: false
              maxLength: 50
            predicative_possessive:
              type: string
              nullable: false
              maxLength: 50
            pronominal_possessive:
              type: string
              nullable: false
              maxLength: 50
            reflexive:
              type: string
              nullable: false
              maxLength: 50
          required:
            - accusative
            - nominative
            - predicative_possessive
            - pronominal_possessive
            - reflexive
        receives_cancellation_emails:
          type: boolean
          nullable: true
        receives_confirmation_emails:
          type: boolean
          nullable: true
        referral_source:
          type: string
          maxLength: 255
          nullable: true
        referring_doctor:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: https://api.au1.cliniko.com/v1/contacts/1
        relationships:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: >-
                    https://api.au1.cliniko.com/v1/relationships?q%5B%5D=patient_id%3A%3D1
        reminder_type:
          type: string
          nullable: true
          enum:
            - None
            - SMS
            - Email
            - SMS & Email
        sex:
          type: string
          nullable: true
        state:
          type: string
          nullable: true
        time_zone:
          type: string
          description: >-
            See: [supported time zone
            identifiers](/guides/time_zone_support/#accepted-values-for-time_zone_identifier)
          example: Australia/Melbourne
          nullable: true
        title:
          type: string
          maxLength: 255
          nullable: true
        updated_at:
          type: string
          format: date-time
          nullable: false
      x-tags:
        - Patient
    PatientAttachment:
      anyOf:
        - $ref: '#/components/schemas/FullPatientExport'
        - $ref: '#/components/schemas/UploadedPatientAttachment'
      x-tags:
        - Patient Attachment
    PatientCase:
      type: object
      properties:
        archived_at:
          type: string
          format: date-time
          nullable: true
        attendee_ids:
          type: array
          nullable: true
          items:
            format: int64
            type: string
        attendees:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: https://api.au1.cliniko.com/v1/patient_cases/1/attendees
        bookings:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: https://api.au1.cliniko.com/v1/patient_cases/1/bookings
        closed:
          type: boolean
          nullable: true
          deprecated: true
        closed_at:
          type: string
          format: date-time
          nullable: true
        contact:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: https://api.au1.cliniko.com/v1/contacts/1
        created_at:
          type: string
          format: date-time
          nullable: false
        expiry_date:
          type: string
          format: date
          nullable: true
        id:
          type: string
          format: int64
          nullable: false
        include_cancelled_attendees:
          type: boolean
          nullable: true
        include_dna_attendees:
          type: boolean
          nullable: true
        invoices:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: https://api.au1.cliniko.com/v1/patient_cases/1/invoices
        issue_date:
          type: string
          format: date
          nullable: true
        links:
          type: object
          properties:
            self:
              type: string
              format: uri
              example: https://api.au1.cliniko.com/v1/patient_cases/1
        max_invoiceable_amount:
          type: string
          format: decimal
          minimum: 0
          exclusiveMinimum: true
          nullable: true
        max_sessions:
          type: integer
          minimum: 1
          maximum: 200
          nullable: true
        name:
          type: string
        notes:
          type: string
          nullable: true
        patient:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: https://api.au1.cliniko.com/v1/patients/1
        patient_attachments:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: >-
                    https://api.au1.cliniko.com/v1/patient_cases/1/patient_attachments
        referral:
          type: boolean
          nullable: true
        referral_type:
          type: string
          enum:
            - dva
            - medicare
          nullable: true
        updated_at:
          type: string
          format: date-time
          nullable: false
      x-tags:
        - Patient Case
    PatientCustomFieldCheckboxes:
      type: object
      nullable: false
      properties:
        options:
          type: array
          nullable: false
          items:
            type: object
            properties:
              archived:
                type: boolean
                nullable: true
              name:
                type: string
                nullable: true
              token:
                type: string
                format: uuid
                example: ef4c43ec-105d-489c-88cc-0f3c5f67dc70
                nullable: false
              selected:
                type: boolean
                nullable: false
            required:
              - token
        other:
          type: object
          nullable: false
          properties:
            enabled:
              type: boolean
              nullable: true
            archived:
              type: boolean
              nullable: true
            selected:
              type: boolean
              nullable: false
            value:
              type: string
              nullable: false
              maxLength: 255
        archived:
          type: boolean
          nullable: true
        name:
          type: string
          nullable: true
        token:
          type: string
          format: uuid
          example: ef4c43ec-105d-489c-88cc-0f3c5f67dc70
          nullable: false
        type:
          type: string
          nullable: true
          enum:
            - checkboxes
      required:
        - token
      title: Checkboxes
    PatientCustomFieldDate:
      type: object
      nullable: false
      properties:
        value:
          type: string
          format: date
          nullable: false
        archived:
          type: boolean
          nullable: true
        name:
          type: string
          nullable: true
        token:
          type: string
          format: uuid
          example: ef4c43ec-105d-489c-88cc-0f3c5f67dc70
          nullable: false
        type:
          type: string
          nullable: true
          enum:
            - date
      required:
        - token
      title: Date
    PatientCustomFieldDefinitionCheckboxes:
      type: object
      nullable: false
      properties:
        options:
          type: array
          nullable: false
          items:
            type: object
            properties:
              archived:
                type: boolean
                nullable: false
              name:
                type: string
                nullable: false
                maxLength: 255
              token:
                type: string
                format: uuid
                example: ef4c43ec-105d-489c-88cc-0f3c5f67dc70
                nullable: false
            required:
              - name
              - token
        other:
          type: object
          nullable: false
          properties:
            enabled:
              type: boolean
              nullable: false
            archived:
              type: boolean
              nullable: false
        archived:
          type: boolean
          nullable: false
        name:
          type: string
          nullable: false
          maxLength: 255
        token:
          type: string
          format: uuid
          example: ef4c43ec-105d-489c-88cc-0f3c5f67dc70
          nullable: false
        type:
          type: string
          nullable: true
          enum:
            - checkboxes
      required:
        - options
        - name
        - token
        - type
      title: Checkboxes
    PatientCustomFieldDefinitionDate:
      type: object
      nullable: false
      properties:
        archived:
          type: boolean
          nullable: false
        name:
          type: string
          nullable: false
          maxLength: 255
        token:
          type: string
          format: uuid
          example: ef4c43ec-105d-489c-88cc-0f3c5f67dc70
          nullable: false
        type:
          type: string
          nullable: true
          enum:
            - date
      required:
        - name
        - token
        - type
      title: Date
    PatientCustomFieldDefinitionParagraph:
      type: object
      nullable: false
      properties:
        archived:
          type: boolean
          nullable: false
        name:
          type: string
          nullable: false
          maxLength: 255
        token:
          type: string
          format: uuid
          example: ef4c43ec-105d-489c-88cc-0f3c5f67dc70
          nullable: false
        type:
          type: string
          nullable: true
          enum:
            - paragraph
      required:
        - name
        - token
        - type
      title: Paragraph
    PatientCustomFieldDefinitionRadiobuttons:
      type: object
      nullable: false
      properties:
        options:
          type: array
          nullable: false
          items:
            type: object
            properties:
              archived:
                type: boolean
                nullable: false
              name:
                type: string
                nullable: false
                maxLength: 255
              token:
                type: string
                format: uuid
                example: ef4c43ec-105d-489c-88cc-0f3c5f67dc70
                nullable: false
            required:
              - name
              - token
        other:
          type: object
          nullable: false
          properties:
            enabled:
              type: boolean
              nullable: false
            archived:
              type: boolean
              nullable: false
        archived:
          type: boolean
          nullable: false
        name:
          type: string
          nullable: false
          maxLength: 255
        token:
          type: string
          format: uuid
          example: ef4c43ec-105d-489c-88cc-0f3c5f67dc70
          nullable: false
        type:
          type: string
          nullable: true
          enum:
            - radiobuttons
      required:
        - options
        - name
        - token
        - type
      title: Radiobuttons
    PatientCustomFieldDefinitionText:
      type: object
      nullable: false
      properties:
        archived:
          type: boolean
          nullable: false
        name:
          type: string
          nullable: false
          maxLength: 255
        token:
          type: string
          format: uuid
          example: ef4c43ec-105d-489c-88cc-0f3c5f67dc70
          nullable: false
        type:
          type: string
          nullable: true
          enum:
            - text
      required:
        - name
        - token
        - type
      title: Text
    PatientCustomFieldParagraph:
      type: object
      nullable: false
      properties:
        value:
          type: string
          nullable: false
        archived:
          type: boolean
          nullable: true
        name:
          type: string
          nullable: true
        token:
          type: string
          format: uuid
          example: ef4c43ec-105d-489c-88cc-0f3c5f67dc70
          nullable: false
        type:
          type: string
          nullable: true
          enum:
            - paragraph
      required:
        - token
      title: Paragraph
    PatientCustomFieldRadiobuttons:
      type: object
      nullable: false
      properties:
        options:
          type: array
          nullable: false
          items:
            type: object
            properties:
              archived:
                type: boolean
                nullable: true
              name:
                type: string
                nullable: true
              token:
                type: string
                format: uuid
                example: ef4c43ec-105d-489c-88cc-0f3c5f67dc70
                nullable: false
              selected:
                type: boolean
                nullable: false
            required:
              - token
        other:
          type: object
          nullable: false
          properties:
            enabled:
              type: boolean
              nullable: true
            archived:
              type: boolean
              nullable: true
            selected:
              type: boolean
              nullable: false
            value:
              type: string
              nullable: false
              maxLength: 255
        archived:
          type: boolean
          nullable: true
        name:
          type: string
          nullable: true
        token:
          type: string
          format: uuid
          example: ef4c43ec-105d-489c-88cc-0f3c5f67dc70
          nullable: false
        type:
          type: string
          nullable: true
          enum:
            - radiobuttons
      required:
        - token
      title: Radiobuttons
    PatientCustomFieldText:
      type: object
      nullable: false
      properties:
        value:
          type: string
          nullable: false
        archived:
          type: boolean
          nullable: true
        name:
          type: string
          nullable: true
        token:
          type: string
          format: uuid
          example: ef4c43ec-105d-489c-88cc-0f3c5f67dc70
          nullable: false
        type:
          type: string
          nullable: true
          enum:
            - text
      required:
        - token
      title: Text
    PatientForm:
      type: object
      properties:
        archived_at:
          type: string
          format: date-time
          nullable: true
        attendee:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: https://api.au1.cliniko.com/v1/attendees/1
        booking:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: https://api.au1.cliniko.com/v1/bookings/1
        business:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: https://api.au1.cliniko.com/v1/businesses/1
        completed_at:
          type: string
          format: date-time
          nullable: true
        content:
          type: object
          nullable: true
          properties:
            sections:
              type: array
              nullable: false
              items:
                type: object
                properties:
                  name:
                    type: string
                    nullable: true
                    maxLength: 255
                  description:
                    type: string
                    nullable: true
                  questions:
                    type: array
                    nullable: false
                    items:
                      oneOf:
                        - $ref: '#/components/schemas/PatientFormQuestionText'
                        - $ref: '#/components/schemas/PatientFormQuestionParagraph'
                        - $ref: '#/components/schemas/PatientFormQuestionDate'
                        - $ref: '#/components/schemas/PatientFormQuestionSignature'
                        - $ref: '#/components/schemas/PatientFormQuestionCheckboxes'
                        - $ref: '#/components/schemas/PatientFormQuestionRadiobuttons'
        created_at:
          type: string
          format: date-time
          nullable: false
        edited_at:
          type: string
          format: date-time
          nullable: true
        email_to_patient_on_completion:
          type: boolean
          nullable: true
        id:
          type: string
          format: int64
          nullable: false
        links:
          type: object
          properties:
            self:
              type: string
              format: uri
              example: https://api.au1.cliniko.com/v1/patient_forms/1
        name:
          type: string
          maxLength: 255
        patient:
          type: object
          properties:
            links:
              type: object
              properties:
                self:
                  type: string
                  format: uri
                  example: https://api.au1.cliniko.com/v1/patients/1
        restricted_to_practitioner:
          type: boolean
          nullable: true
        signatures:
          type: object
          nullable: true
          properties:
            links:
              properties:
                self:
                  example: >-
                    https://api.au1.cliniko.com/v1/patient_forms/1/signatures/112233
                  format: uri
                  type: string
              type: object
        updated_at:
          type: string
          format: date-time
          nullable: false
        url:
          type: string
          format: uri
          nullable: true
      x-tags:
        - Patient Form
    PatientFormQuestionAddress:
      type: object
      nullable: false
      properties:
        answer:
          type: object
          nullable: false
          properties:
            address_1:
              type: string
              nullable: false
              maxLength: 255
            address_2:
              type: string
              nullable: false
              maxLength: 255
            address_3:
              type: string
              nullable: false
              maxLength: 255
            city:
              type: string
              nullable: false
              maxLength: 255
            state:
              type: string
              nullable: false
              maxLength: 255
            post_code:
              type: string
              nullable: false
              maxLength: 255
            country_code:
              type: string
              nullable: false
              maxLength: 2
        name:
          type: string
          nullable: false
          maxLength: 255
        required:
          type: boolean
          nullable: false
        type:
          type: string
          nullable: true
          enum:
            - address
        patient_field_connection:
          type: string
          nullable: false
          enum:
            - address
      required:
        - name
        - type
        - patient_field_connection
      title: Address
    PatientFormQuestionCheckboxes:
      type: object
      nullable: false
      properties:
        answers:
          type: array
          nullable: false
          items:
            type: object
            properties:
              value:
                type: string
                nullable: true
                maxLength: 255
              selected:
                type: boolean
                nullable: true
        other:
          type: object
          nullable: false
          properties:
            enabled:
              type: boolean
              nullable: false
            selected:
              type: boolean
              nullable: false
            value:
              type: string
              nullable: false
              maxLength: 255
        name:
          type: string
          nullable: false
          maxLength: 255
        required:
          type: boolean
          nullable: false
        type:
          type: string
          nullable: true
          enum:
            - checkboxes
      required:
        - name
        - type
      title: Checkboxes
    PatientFormQuestionDate:
      type: object
      nullable: false
      properties:
        answer:
          type: string
          format: date
          nullable: false
        name:
          type: string
          nullable: false
          maxLength: 255
        required:
          type: boolean
          nullable: false
        type:
          type: string
          nullable: true
          enum:
            - date
      required:
        - name
        - type
      title: Date
    PatientFormQuestionFullName:
      type: object
      nullable: false
      properties:
        answer:
          type: object
          nullable: false
          properties:
            title:
              type: string
              nullable: false
              maxLength: 255
            first_name:
              type: string
              nullable: false
              maxLength: 255
            last_name:
              type: string
              nullable: false
              maxLength: 255
            preferred_first_name:
              type: string
              nullable: false
              maxLength: 255
          required:
            - first_name
            - last_name
        options:
          type: object
          nullable: false
          properties:
            title_enabled:
              type: boolean
              nullable: false
            preferred_first_name_enabled:
              type: boolean
              nullable: false
        name:
          type: string
          nullable: false
          maxLength: 255
        required:
          type: boolean
          nullable: false
        type:
          type: string
          nullable: true
          enum:
            - full_name
        patient_field_connection:
          type: string
          nullable: false
          enum:
            - full_name
      required:
        - name
        - type
        - patient_field_connection
      title: FullName
    PatientFormQuestionParagraph:
      type: object
      nullable: false
      properties:
        answer:
          type: string
          nullable: false
          maxLength: 10000
        name:
          type: string
          nullable: false
          maxLength: 255
        required:
          type: boolean
          nullable: false
        type:
          type: string
          nullable: true
          enum:
            - paragraph
      required:
        - name
        - type
      title: Paragraph
    PatientFormQuestionPhone:
      type: object
      nullable: false
      properties:
        answer:
          type: array
          nullable: false
          items:
            type: object
            properties:
              number:
                type: string
                nullable: false
                maxLength: 100
              phone_type:
                type: string
                nullable: false
                enum:
                  - Fax
                  - Home
                  - Mobile
                  - Other
                  - Work
            required:
              - number
              - phone_type
        name:
          type: string
          nullable: false
          maxLength: 255
        required:
          type: boolean
          nullable: false
        type:
          type: string
          nullable: true
          enum:
            - phone
        patient_field_connection:
          type: string
          nullable: false
          enum:
            - phone
      required:
        - name
        - type
        - patient_field_connection
      title: Phone
    PatientFormQuestionPronouns:
      type: object
      nullable: false
      properties:
        answer:
          type: object
          nullable: false
          properties:
            accusative:
              type: string
              nullable: false
              maxLength: 50
            nominative:
              type: string
              nullable: false
              maxLength: 50
            predicative_possessive:
              type: string
              nullable: false
              maxLength: 50
            pronominal_possessive:
              type: string
              nullable: false
              maxLength: 50
            reflexive:
              type: string
              nullable: false
              maxLength: 50
          required:
            - accusative
            - nominative
            - predicative_possessive
            - pronominal_possessive
            - reflexive
        name:
          type: string
          nullable: false
          maxLength: 255
        required:
          type: boolean
          nullable: false
        type:
          type: string
          nullable: true
          enum:
            - pronouns
        patient_field_connection:
          type: string
          nullable: false
          enum:
            - pronouns
      required:
        - name
        - type
        - patient_field_connection
      title: Pronouns
    PatientFormQuestionRadiobuttons:
      type: object
      nullable: false
      properties:
        answers:
          type: array
          nullable: false
          items:
            type: object
            properties:
              value:
                type: string
                nullable: true
[...]
